.navbar{
 background-color: #2B1057;
 height: 112px;
}

.navbar-light .navbar-nav .nav-link {
 color: #FFFFFF;
}

.navbar-light .navbar-brand {
 color: #FFFFFF;
}

.title-agenda{
 color: #FFFFFF;
 margin-left: 700%;
 margin-top: 10px;
 font-size: 20px;
 text-decoration: none;
}